body {
	font-family: 'Source Code Pro', monospace;
	text-align: center;
}
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.item {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;

	margin: .75em;
	padding-top: 2em;

	flex-basis: 16em;
	background-color: white;
}
.item img {
	width: 16em;
	height: auto;
}
.item h1 {
	font-size: 18px;
	margin: 0;
}
.item p {
	margin: 0;
	font-size: 16px;
}
.navButton {
  color: white;
  display: inline-block;
  background-color: #e74c3c;
  padding: 1em 2em 1em 2em;
  border-radius: 8px;
  font-size: 18px;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
  transition-duration: .2s;
}
.navBar {
  overflow: hidden;
  background-color: #e74c3c;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.navBar a {
  float: left;
  display: block;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 1em;
  text-decoration: none;
  font-size: 17px;
}
.active {
  background-color: black;
  border: 1px solid #e74c3c;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
::selection {
    background-color: transparent;
}
.fatboysRed {
	color: #e74c3c;
}