body {
	background-repeat: no-repeat;
	background-position: center;
	background-color: #e74c3c;
}

#header {
	font-size: 48px;
	color: white;
	text-shadow: 2px 2px 1px black;
	font-weight: bold;
}

#inventoryDisclaimer {
	font-size: 16px;
	color: white;
	text-shadow: 1px 1px 1px black;
}
#navButton {
	text-shadow: 1px 1px 1px black;
}

#menuPage {
	width: viewport;
}
.no-padding {
    padding: 0px;
}
.no-marginLR {
    margin-left:0;
    margin-right:0;
}