body {
	background-color: #e74c3c;
}
img {
	margin: 0 auto;
}
#header {
	font-size: 48px;
	color: white;
	text-shadow: 2px 2px 1px black;
	font-weight: bold;
}
#sub_header{
	font-size: 40px;
	color: white;
	text-shadow: 1px 1px 1px black;
	font-weight: bold;
}
.inventoryDisclaimer {
	font-size: 16px;
	color: white;
	text-shadow: 1px 1px 1px black;
}
.navButton {
	text-shadow: 1px 1px 1px black;
}

.padding {
    padding-right: 1.5em;
    padding-left:1.25em;
    padding-top: 1em;
}

#back_to_index {
	position: absolute;
	top: 0;
	left: 0;
}
